[Desktop Entry]
Version=1.0
Name=UV-5R Mini Boot Flasher
Comment=Flash boot images to the Baofeng UV-5R Mini
Exec=uv5rmini-bootflasher
Terminal=false
Type=Application
Categories=Utility;Electronics;
Icon=uv5rmini-bootflasher
StartupNotify=true
